body{
    background-image: url('greenTable.jpg');
    background-size: 100%;
}

.top{
    width: 100px;
    height:50px;
    border: solid red;
    display:flex;
    background-color: aliceblue;
}

#bigBox{
    margin-top: 50px;
    margin-left: 40%;
    display: flex;
}

#dealersCards{
    height: 200px;
    width: 50%;
    /* border: solid black 20px; */
    margin-left: 25%;;
    margin-top: 2%;
    display: flex;
}

#playersCards{
    height: 200px;
    width: 50%;
    /* border: solid black 20px; */
    margin-left: 25%;;
    margin-top: 5%;
    display: flex;
}

.dealerHand{
    height: 200px;
    width: 100px;
    /* border: solid purple; */
    margin-left: 20px;
    display: flex;
}

.playerHand{
    height: 200px;
    width: 100px;
    /* border: solid yellow; */
    margin-left: 20px;
    display: flex;
}
