body{
    background-image: url('greenTable.jpg');
    background-size: 100%;
}

#dealersCards{
    height: 200px;
    width: 50%;
    border: solid black 20px;
    margin-left: 20%;;
    margin-top: 5%;
    display: flex;
}

#playersCards{
    height: 200px;
    width: 50%;
    border: solid black 20px;
    margin-left: 20%;;
    margin-top: 5%;
    display: flex;
}

.dealerHand{
    height: 200px;
    width: 100px;
    border: solid purple;
    margin-left: 20px;
    display: flex;
}

.playerHand{
    height: 200px;
    width: 100px;
    border: solid yellow;
    margin-left: 20px;
    display: flex;
}
