.App {
  text-align: center;
}

.App-header {
  background-color: tan;
  height: 50px;
  padding: 20px;
  color: white;
}

#banner{
  height: 55vh;
  width: auto;
  border-top: solid black;
  border-bottom: solid black;
  background-size: cover;
  background-image: url('https://www.atlantaphotos.com/media/wysiwyg/AP/ATLANTA.jpg');
}

#logoDiv{
  display: inline-flex;
}